. {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.container {
	background-color: gray;
	margin: 50px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 300px;
}

.item {
	background-color: red;
	margin: 10px;
	padding: 10px;
	font-size: 30px;
}

